Repository SamuelGuillemet/cuistot-et-chariot: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, type-check

biome-check:
  name: Biome check
  entry: pnpm biome check --write
  language: system
  pass_filenames: false

type-check:
  name: TypeScript type check
  entry: pnpm run type-check
  language: system
  pass_filenames: false

⬆️ Update @tanstack/react-start to version 1.130.16
  package.json
  pnpm-lock.yaml
Due: biome-check

✨ Add sidebar state management and enhance Layout component
  src/components/layout.tsx
  src/components/ui/separator.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/tooltip.tsx
  src/routes/__root.tsx
  src/server/sidebar.ts
Due: biome-check, type-check

🚨 Update pre-commit configuration and biome settings for improved linting and type checking
  .pre-commit-config.yaml
  biome.json
Due: biome-check

🔧 Add type definitions for lucide-react module and update VSCode settings for auto-import preferences
  .vscode/settings.json
  src/types/lucie-react.d.ts
Due: biome-check, type-check

✨ Implement household management features: add queries and mutations for households, enhance RLS, and update schema
  .pre-commit-config.yaml
  convex/_generated/api.d.ts
  convex/households.ts
  convex/rls.ts
  convex/schema.ts
  convex/types.ts
Due: biome-check, type-check

♻️ Refactor login component: rename to LoginForm, add error handling with toast notifications, and update LoginPage structure
  src/components/auth/login.tsx
  src/routes/login.tsx
Due: biome-check, type-check

✨ Add dashboard route and enhance authenticated layout with loading state
  src/routes/__root.tsx
  src/routes/_authed.tsx
  src/routes/_authed/dashboard.tsx
Due: biome-check, type-check

🛂 Refactor authentication configuration and helper functions: standardize quotes, improve user ID retrieval, and enhance code readability
  convex/auth.config.ts
  convex/auth.ts
  convex/convex.config.ts
  convex/helpers.ts
  convex/http.ts
  convex/users.ts
Due: biome-check, type-check

✨ Add household management features: implement create, update, and delete functionalities with corresponding UI components
  src/components/households/household-delete-button.tsx
  src/components/households/household-form.tsx
  src/components/households/household-switcher.tsx
  src/routes/_authed/household/$id.tsx
  src/routes/_authed/household/new.tsx
  src/server/misc.ts
  src/stores/household.ts
Due: biome-check, type-check

✨ Add zustand selectors and cookie utility: implement createSelectors for state management and ssrSafeCookieStore for cookie handling
  src/lib/zustand.ts
  src/utils/cookie.ts
  src/utils/utils.ts
Due: biome-check, type-check

💄 Add new UI components: implement AlertDialog, Breadcrumb, Form, Label, and PasswordInput with Radix UI integration
  package.json
  pnpm-lock.yaml
  src/components/ui/alert-dialog.tsx
  src/components/ui/breadcrumb.tsx
  src/components/ui/form.tsx
  src/components/ui/label.tsx
  src/components/ui/password-input.tsx
Due: biome-check, type-check

✨ Refactor layout and sidebar components: update props handling, improve breadcrumb path logic, and enhance theme toggle icons
  src/components/layout.tsx
  src/components/layout/breadcrumbs.tsx
  src/components/layout/sidebar.tsx
  src/components/layout/theme-toggle.tsx
  src/components/layout/user-badge.tsx
  src/components/ui/sidebar.tsx
  src/routeTree.gen.ts
  src/router.tsx
Due: biome-check, type-check

💄 Update CSS variables and font settings: refine color palette, adjust shadows, and enhance font-family for improved styling
  src/styles/main.css
Due: none

✨ Enhance Landing Page: integrate authentication, improve layout with new components, and update navigation for better user experience
  src/routes/index.tsx
Due: biome-check, type-check

👷 Add GitHub Actions workflows for pull request labeling and release on push: automate version labeling and release management
  .github/workflows/pull-request-labels.yaml
  .github/workflows/release-on-push.yaml
Due: none

🔖 Update project name and version in package.json: change to "cuistot-et-chariot" and set version to "0.1.0"
  package.json
Due: biome-check

💚 Update CI workflows: add permissions, upgrade action versions, and improve output logging
  .github/workflows/ci.yml
  .github/workflows/pull-request-labels.yaml
  .github/workflows/release-on-push.yaml
Due: none

🚚 Move households convex function to a dedicated folder
  convex/households.ts
  convex/households/mutations.ts
  convex/households/queries.ts
  convex/households/rls.ts
  convex/households/schema.ts
  convex/schema.ts
Due: biome-check, type-check

✨ Refactor household components: update mutation and query methods, add readOnly prop to form fields, and improve household selection logic
  src/components/households/household-delete-button.tsx
  src/components/households/household-form.tsx
  src/components/households/household-switcher.tsx
Due: biome-check, type-check

✨ Implement household member management features
  convex/_generated/api.d.ts
  convex/households_members/mutations.ts
  convex/households_members/queries.ts
  convex/households_members/rls.ts
  convex/households_members/schema.ts
  convex/types.ts
  src/components/households-members/member-actions-dropdown.tsx
  src/components/households-members/member-item.tsx
  src/components/households-members/member-permissions-dialog.tsx
  src/components/households-members/member-role-badge.tsx
  src/components/households-members/member-status-badge.tsx
  src/components/households-members/types.ts
  src/components/households/household-members-card.tsx
Due: biome-check, type-check

💄 Add Badge, Dialog, and Switch components with respective styles and functionality
  src/components/ui/badge.tsx
  src/components/ui/dialog.tsx
  src/components/ui/switch.tsx
Due: biome-check, type-check

✨ Add DefaultCatchBoundary component for error handling and update router to use it
  src/components/DefaultCatchBoundary.tsx
  src/router.tsx
Due: biome-check, type-check

♻️ Enhance household management features: add theme toggle with SSR support, implement current member hook, and update routing for household join and creation.
  convex/users.ts
  src/components/layout/theme-toggle.tsx
  src/components/layout/user-badge.tsx
  src/hooks/use-current-member.ts
  src/hooks/use-did-update-effect.ts
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/routes/_authed.tsx
  src/routes/_authed/household/$id.tsx
  src/routes/_authed/household/join.$id.tsx
  src/routes/_authed/household/new.tsx
  src/stores/household.ts
  src/styles/main.css
Due: biome-check, type-check

⬆️Upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: biome-check

🔧 Update file inclusion patterns in biome.json for improved matching
  biome.json
Due: biome-check

🔖 Bump version to 0.2.0 in package.json
  package.json
Due: biome-check

♻️ Refactor after review
  package.json
  pnpm-lock.yaml
  src/router.tsx
  src/routes/_authed.tsx
Due: biome-check, type-check

🔧 Update VSCode settings for improved file exclusion and add Tailwind custom data configuration
  .vscode/settings.json
  .vscode/tailwind.json
  biome.json
  src/components/households-members/member-permissions-dialog.tsx
  src/routes/index.tsx
  src/utils/utils.ts
Due: biome-check, type-check

💚 Enhance pull request label management by adding logic to remove old labels before adding new ones
  .github/workflows/pull-request-labels.yaml
  src/routes/_authed/household/$id.tsx
Due: biome-check, type-check

✨ Add custom Select component using Radix UI with various subcomponents for enhanced UI
  package.json
  pnpm-lock.yaml
  src/components/ui/select.tsx
Due: biome-check, type-check

♻️ Implement server functions for authentication, theme, sidebar state, and household management; refactor routes to utilize new query options
  src/lib/server-queries.ts
  src/routes/__root.tsx
  src/routes/_authed.tsx
  src/server/auth.ts
  src/server/misc.ts
  src/server/sidebar.ts
  src/server/theme.ts
  src/stores/household.ts
Due: biome-check, type-check

🚚 Make household route not id dependant
  src/routeTree.gen.ts
  src/routes/_authed/household/index.tsx
  src/routes/_authed/household/new.tsx
Due: biome-check, type-check

🛂 Update ConvexQueryClient initialization to include authentication options
  src/router.tsx
Due: biome-check, type-check

♻️ Refactor components to utilize updated state hooks
  src/components/DefaultCatchBoundary.tsx
  src/components/households-members/member-actions-dropdown.tsx
  src/components/households-members/member-permissions-dialog.tsx
  src/components/households/household-delete-button.tsx
  src/components/households/household-switcher.tsx
  src/components/layout.tsx
  src/components/layout/sidebar.tsx
  src/components/layout/theme-provider.tsx
  src/components/layout/user-badge.tsx
  src/components/ui/sidebar.tsx
  src/hooks/use-current-member.ts
Due: biome-check, type-check

🔖 Bump version to 0.2.1 in package.json
  package.json
Due: biome-check

✨ Add food icon font and implement icon search functionality
  src/components/food-icons/IconSelector.tsx
  src/components/food-icons/IconSelectorField.tsx
  src/components/food-icons/icon-food-font-config.ts
  src/components/food-icons/useIconSearch.ts
  src/styles/fonts/Font.ttf
  src/styles/food-icons.css
  src/styles/main.css
Due: biome-check, type-check

♻️ Refactor user validation and household retrieval logic; streamline type utilities
  convex/helpers.ts
  convex/households_members/rls.ts
  src/components/households-members/types.ts
  src/components/layout.tsx
  src/components/layout/sidebar.tsx
  src/routes/_authed/household/index.tsx
  src/utils/convex.ts
  src/utils/types.ts
Due: biome-check, type-check

✨ Enhance member permissions management; add utility functions for permission initialization and change detection
  src/components/households-members/member-permissions-dialog.tsx
  src/components/households-members/permissions-config.ts
Due: biome-check, type-check

✨ Implement food icon selector in dashboard
  .vscode/settings.json
  src/routes/_authed/dashboard.tsx
Due: biome-check, type-check

🔖 Bump version to 0.2.2 in package.json
  package.json
Due: biome-check

Path conditions:
  biome-check: any of: \.(js|ts|jsx|tsx|json|jsonc)$
  type-check: any of: \.(ts|tsx)$
