Repository SamuelGuillemet/cuistot-et-chariot: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, type-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-json
        exclude: ^(tsconfig\.json|.*\.jsonc|\.vscode.*\.json)$
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Biome for TypeScript/JavaScript/JSON/CSS formatting and linting
  - repo: local
    hooks:
      - id: local-biome-check
        name: biome check
        entry: pnpm exec biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$"

  # TypeScript type checking
  - repo: local
    hooks:
      - id: type-check
        name: typescript check
        entry: pnpm exec tsc --noEmit
        language: system
        files: "\\.(ts|tsx)$"

🔖 Bump version to 0.4.2 in package.json
  package.json
Due: local-biome-check

♻️ Refactor IconSelectorField to use native button element for improved accessibility
  src/components/food-icons/IconSelectorField.tsx
Due: local-biome-check, type-check

💄 Improve UI for Products and Instructions fields with better layout and accessibility enhancements
  src/components/recipes/recipe-ingredients-editor.tsx
  src/components/recipes/recipe-instructions-editor.tsx
Due: local-biome-check, type-check

✨ Implement draft saving functionality for recipe forms with auto-save and restore options
  src/hooks/use-form-draft.tsx
  src/routes/_authed/recipes/$recipeId/edit.tsx
  src/routes/_authed/recipes/new.tsx
Due: local-biome-check, type-check

✨ Add UnsavedChangesContext and provider for managing unsaved changes with navigation guard
  src/hooks/use-unsaved-changes-context.tsx
  src/routes/_authed.tsx
Due: local-biome-check, type-check

🧑‍💻 Add FormDevtools and ReactScan for enhanced form debugging and environment-specific script loading
  src/routes/__root.tsx
Due: local-biome-check, type-check

✨ Integrate draft saving and unsaved changes handling in RecipeForm component
  src/components/recipes/recipe-form.tsx
Due: local-biome-check, type-check

✨ Refactor useEffect for initial load handling in useFormDraft and improve subscription cleanup in UnsavedChangesProvider
  src/hooks/use-form-draft.tsx
  src/hooks/use-unsaved-changes-context.tsx
Due: local-biome-check, type-check

🔖 Bump version to 0.4.3 in package.json
  package.json
Due: local-biome-check

✨ Enhance form handling and unsaved changes management across components
  biome.json
  src/components/recipes/recipe-form.tsx
  src/components/recipes/recipe-ingredients-editor.tsx
  src/components/recipes/recipe-instructions-editor.tsx
  src/hooks/use-app-form.ts
  src/hooks/use-form-draft.tsx
  src/hooks/use-unsaved-changes-context.tsx
  src/routes/__root.tsx
Due: local-biome-check, type-check

🔧 Remove babel-plugin-react-compiler from dependencies and Vite config
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: local-biome-check, type-check

⬆️Updates dependencies, wainting for new solid-js version
  package.json
  pnpm-lock.yaml
Due: local-biome-check

⬆️ Update dependencies in package.json
  biome.json
  convex.json
  convex/tsconfig.json
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: local-biome-check, type-check

🚨 Refactor exports and improve type definitions across multiple components
  convex/_generated/api.d.ts
  convex/helpers.ts
  src/components/ui/alert-dialog.tsx
  src/components/ui/avatar.tsx
  src/components/ui/breadcrumb.tsx
  src/components/ui/card.tsx
  src/components/ui/collapsible.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/field.tsx
  src/components/ui/sheet.tsx
  src/components/ui/table.tsx
  src/components/ui/tooltip.tsx
  src/routeTree.gen.ts
  src/routes/index.tsx
Due: local-biome-check, type-check

feat: add recipe chatbot and AI tools for recipe creation
  .github/skills/frontend-design/SKILL.md
  convex/_generated/api.d.ts
  convex/recipes/aiMutations.ts
  package.json
  pnpm-lock.yaml
  scripts/generate-icons.cjs
  src/components/recipes/recipe-chatbot.tsx
  src/lib/ai-tools.ts
  src/routeTree.gen.ts
  src/routes/_authed/recipes/index.tsx
  src/routes/api/chat.ts
  src/utils/valibot.ts
Due: local-biome-check, type-check

⬆️ Update package.json deps
  .gitignore
  .vscode/settings.json
  biome.json
  convex.json
  convex/_generated/api.d.ts
  convex/helpers.ts
  convex/households_members/mutations.ts
  convex/tsconfig.json
  package.json
  pnpm-lock.yaml
  src/components/products/product-columns.tsx
  src/components/table/data-table.tsx
  src/components/ui/alert-dialog.tsx
  src/components/ui/avatar.tsx
  src/components/ui/breadcrumb.tsx
  src/components/ui/card.tsx
  src/components/ui/collapsible.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/field.tsx
  src/components/ui/sheet.tsx
  src/components/ui/table.tsx
  src/components/ui/tooltip.tsx
  src/lib/auth-client.ts
  src/lib/auth-server.ts
  src/lib/server-queries.ts
  src/routeTree.gen.ts
  src/router.tsx
  src/routes/_authed/products.tsx
  vite.config.ts
Due: local-biome-check, type-check

🔖 Bump version to 0.4.4
  package.json
Due: local-biome-check

⬆️ Update GitHub Actions and VSCode settings to latest versions
  .github/workflows/ci.yml
  .github/workflows/pull-request-labels.yaml
  .github/workflows/release-on-push.yaml
  .vscode/settings.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: local-biome-check

♻️ Refactor recipe form validation and simplify ingredient/instruction field components
  src/components/recipes/recipe-form.tsx
  src/components/recipes/recipe-ingredients-editor.tsx
  src/components/recipes/recipe-instructions-editor.tsx
  src/lib/utils.ts
Due: local-biome-check, type-check

✨ Add meal plans Convex backend with queries and mutations
  convex/_generated/api.d.ts
  convex/meal_plans/mutations.ts
  convex/meal_plans/queries.ts
  convex/meal_plans/rls.ts
  convex/meal_plans/schema.ts
  convex/schema.ts
  convex/types.ts
Due: local-biome-check, type-check

🚨 Refactor imports and clean up code in meal planner components
  convex/meal_plans/mutations.ts
  convex/meal_plans/queries.ts
  src/components/meal-planner/optimistic-updates.ts
  src/routes/_authed/meal-planner.tsx
Due: local-biome-check, type-check

✨ feat: enhance meal planner UI with improved styling and drag-and-drop functionality
  src/components/meal-planner/day-column.tsx
  src/components/meal-planner/draggable-recipe-card.tsx
  src/components/meal-planner/meal-planner-grid.tsx
  src/components/meal-planner/meal-slot.tsx
  src/router.tsx
Due: local-biome-check, type-check

⬆️ Add dnd-kit dependencies for drag-and-drop meal scheduling
  package.json
  pnpm-lock.yaml
Due: local-biome-check

🔧 Add meal planner link to sidebar navigation
  src/components/layout/sidebar.tsx
Due: local-biome-check, type-check

✨ feat: add push notification system for meal reminders
  convex/_generated/api.d.ts
  convex/crons.ts
  convex/push_notifications/action.ts
  convex/push_notifications/mutations.ts
  convex/push_notifications/queries.ts
  convex/push_notifications/schema.ts
  convex/schema.ts
  package.json
  pnpm-lock.yaml
  public/icons/apple-touch-icon.png
  public/icons/badge-72x72.png
  public/icons/icon-192x192.png
  public/manifest.json
  public/sw.js
  src/components/push-notification-button.tsx
  src/hooks/use-push-notifications.ts
  src/routes/__root.tsx
  src/routes/_authed/dashboard.tsx
  src/types/vite-env.d.ts
Due: local-biome-check, type-check

✨ Add meal planner route with week navigation
  src/routeTree.gen.ts
  src/routes/_authed/meal-planner.tsx
Due: local-biome-check, type-check

♻️ Refactor recipes mutations and RLS for meal planner integration
  convex/recipes/mutations.ts
  convex/recipes/rls.ts
Due: local-biome-check, type-check

✨ Add meal planner UI components with drag-and-drop functionality
  src/components/meal-planner/day-column.tsx
  src/components/meal-planner/draggable-recipe-card.tsx
  src/components/meal-planner/meal-planner-grid.tsx
  src/components/meal-planner/meal-slot.tsx
  src/components/meal-planner/optimistic-updates.ts
Due: local-biome-check, type-check

✨ Update drag-and-drop implementation in meal planner
  package.json
  pnpm-lock.yaml
  src/components/meal-planner/draggable-recipe-card.tsx
  src/components/meal-planner/meal-planner-grid.tsx
  src/components/meal-planner/meal-slot.tsx
Due: local-biome-check, type-check

✨ Add week utility functions for meal planner date handling
  src/utils/week.ts
Due: local-biome-check, type-check

🔧 Update pre-commit configuration to use oxc check for formatting and linting
  .pre-commit-config.yaml
Due: none

chore: Refactor form handling
  convex/helpers.ts
  src/components/forms/base-field.tsx
  src/components/forms/buttons.tsx
  src/components/forms/draft-banner.tsx
  src/components/forms/icon-field.tsx
  src/components/forms/number-field.tsx
  src/components/forms/password-field.tsx
  src/components/forms/select-field.tsx
  src/components/forms/text-field.tsx
  src/components/forms/textarea-field.tsx
  src/components/forms/unsaved-changes-guard.tsx
  src/components/layout.tsx
  src/components/products/product-actions.tsx
  src/components/products/product-form.tsx
  src/components/recipes/recipe-form.tsx
  src/components/recipes/recipe-ingredients-editor.tsx
  src/components/recipes/recipe-instructions-display.tsx
  src/components/recipes/recipe-instructions-editor.tsx
  src/components/ui/field.tsx
  src/hooks/use-app-form.ts
  src/hooks/use-form-draft.ts
  src/hooks/use-form-draft.tsx
  src/hooks/use-unsaved-changes-context.tsx
  src/routes/__root.tsx
  src/routes/_authed.tsx
  src/routes/_authed/products.tsx
  src/routes/_authed/recipes/$recipeId/edit.tsx
  src/routes/_authed/recipes/$recipeId/index.tsx
  src/routes/_authed/recipes/index.tsx
  src/routes/_authed/recipes/new.tsx
  src/utils/cookie.ts
  src/utils/types.ts
  src/utils/utils.ts
Due: local-biome-check, type-check

chore: bump version to 0.5.0
  package.json
Due: local-biome-check

chore: update oxc linting configuration to include additional dependencies and environment settings
  .pre-commit-config.yaml
Due: none

✨ feat: add Marmiton recipe search functionality and product matching
  convex/_generated/api.d.ts
  convex/recipes/actions.ts
  convex/recipes/marmiton.ts
  convex/recipes/product_matcher.ts
  package.json
  pnpm-lock.yaml
Due: local-biome-check, type-check

🐛 fix: disable auto-reset of page index in DataTable component
  src/components/table/data-table.tsx
Due: local-biome-check, type-check

✨ feat: enhance ProductSelector with product creation and improved selection handling
  src/components/products/product-selector.tsx
  src/utils/string-utils.ts
Due: local-biome-check, type-check
